.identificacao{
    color: #2b2a2e;
}

.galeria{
    width: 100%;
}

body{
    background-color: rgba(185, 238, 238, 0.369);
    color: #2b2a2e;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.links{
    display: flex;
    flex-direction: column;
}

a{
    margin: 20px;
    padding: 20px;
    background-color: rgb(246, 195, 195);
    color: #2b2a2e;
    border-radius: 20px;
}